{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "googleappsscript/googleappsscript": true
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "googleappsscript"
  ],
  "rules": {
    "no-return-await": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline"
      }
    ]
  },
  "globals": {
    "OAuth1": true,
    "OAuth2": true,
    "FirebaseApp": true
  }
}